# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# IDE
.vscode/settings.json
.idea/


